<mat-nav-list>
  <div class="sidenav-nav">
    <div class="sidenav-nav-item" *ngFor="let data of navData">
      <a mat-list-item
          [routerLink]="['/navigation/security/menu-list']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
      >
        <span class="sidenav-link-text" *ngIf="true">
          {{data.menu}}
        </span>
      </a>
    </div>
    <a mat-list-item (click)="onLogout()">
      <mat-icon matSuffix>logout</mat-icon>
      <span>Salir</span>
    </a>
  </div>
</mat-nav-list>
