<h1 mat-dialog-title>Añadir rol</h1>
<div mat-dialog-content>
  <form [formGroup]="roleDialogForm">
    <div class="container-1">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [formControlName]="'name'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <input matInput [formControlName]="'cedula'">
      </mat-form-field>
    </div>
    <div class="container-3">
      <mat-checkbox formControlName="activeChbx">Activo</mat-checkbox>
      <mat-checkbox formControlName="adminChbx">Super Administrador</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-custom">
  <button mat-raised-button color="primary" (click)="onNoClick()">Guardar</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="data.animal" cdkFocusInitial>Cerrar</button>
</div>
