<h1 mat-dialog-title>{{data.dialogTitle}}</h1>
<div mat-dialog-content>
  <form [formGroup]="genericForm">
    <div class="container-1">
      <mat-form-field *ngIf="data.showNameControl">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field *ngIf="data.showLinkControl">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link">
      </mat-form-field>
    </div>
    <div class="container-2">
      <mat-form-field *ngIf="data.showOrderControl">
        <mat-label>Orden</mat-label>
        <input matInput formControlName="order">
      </mat-form-field>
      <mat-form-field *ngIf="data.showLevelControl">
        <mat-label>Nivel</mat-label>
        <input matInput formControlName="level">
      </mat-form-field>
    </div>
    <mat-form-field *ngIf="data.showDescriptionControl" style="width: 96%;">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="container-3">
      <mat-checkbox *ngIf="data.showActive" formControlName="active">Activo</mat-checkbox>
      <mat-checkbox *ngIf="data.showShow" formControlName="mostrar">Mostrar</mat-checkbox>
      <mat-checkbox *ngIf="data.showAdmin" formControlName="admin">Administrador</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="saveDataForm()">Añadir</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
</div>
