<h1 mat-dialog-title *ngIf="!isEditing">Añadir Licencia</h1>
<h1 mat-dialog-title *ngIf="isEditing">Editar Licencia</h1>
<div mat-dialog-content>
  <form [formGroup]="licenciaDialogForm">
    <div class="container-1">
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput [formControlName]="'code'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select [formControlName]="'status'">
          <mat-option *ngFor="let s of status" [value]="s.id_est">
            {{s.nombre}}
          </mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="container-2">
      <mat-form-field>
        <mat-label>Tipo de Licencia</mat-label>
        <mat-select [formControlName]="'license_type'">
          <mat-option *ngFor="let licenseType of licenseTypes" [value]="licenseType.tipo_Lic_Id">
            {{licenseType.nombre}}
          </mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-custom">
  <button mat-raised-button color="primary" (click)="onSaveClick()" *ngIf="!isEditing">Guardar</button>
  <button mat-raised-button color="primary" (click)="editLicense()" *ngIf="isEditing">Editar</button>
  <button mat-raised-button color="warn" (click)="close()">Cerrar</button>
</div>
