<h1 mat-dialog-title *ngIf="!isEditing">Añadir tipo de estado</h1>
<h1 mat-dialog-title *ngIf="isEditing">Editar tipo de estado</h1>
<div mat-dialog-content>
  <form [formGroup]="statusTypeDialogForm">
    <div class="container-1">
      <mat-form-field class="custom-mat-form-field-width">
        <mat-label>Nombre</mat-label>
        <input matInput [formControlName]="'name'">
      </mat-form-field>
    </div>
    <div class="container-2">
      <mat-form-field class="custom-mat-form-field-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput [formControlName]="'description'"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-custom">
  <button mat-raised-button color="primary" (click)="onSaveClick()" *ngIf="!isEditing">Guardar</button>
  <button mat-raised-button color="primary" (click)="editStatusType()" *ngIf="isEditing">Editar</button>
  <button mat-raised-button color="warn" (click)="close()">Cerrar</button>
</div>
