<h1 mat-dialog-title>Añadir Menú</h1>
<div mat-dialog-content>
  <form [formGroup]="menuDialogForm">
    <div class="container-1">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [formControlName]="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Link</mat-label>
        <input matInput [formControlName]="link">
      </mat-form-field>
    </div>
    <div class="container-2">
      <mat-form-field>
        <mat-label>Orden</mat-label>
        <input matInput [formControlName]="orden">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <input matInput [formControlName]="nivel">
      </mat-form-field>
    </div>
    <div class="container-3">
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput [formControlName]="description"></textarea>
      </mat-form-field>
    </div> 
    <div class="container-4">
      <mat-checkbox>Activo</mat-checkbox>
      <mat-checkbox>Mostrar</mat-checkbox>
      <mat-checkbox>Administrador</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions-custom">
  <button mat-raised-button color="primary" (click)="onNoClick()">Guardar</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="data.animal" cdkFocusInitial>Cerrar</button>
</div>
